{{ form_start(form)}}
    {{ form_widget(form) }}
{#<div class="form-group">#}
{#<a href="#" id="filldetails" onclick="addFields()">Ajouter les Dates phases </a>#}
{#</div>#}
{#<div id="container">#}

{#</div>#}
<div class="footer-text-right">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
