<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
;

return PhpCsFixer\Config::create()
    ->setRules([
        // TODO l'activer un de ces 4
        // '@Symfony' => true,
        // 'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;
