<div class="modal modal-adminpro-general default-popup-WarningModal fade" tabindex="-1"  id="bl_PUF"  role="dialog" aria-labelledby="addOrganismePubFranTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header header-color-modal bg-color-1">
                    <h4 class="modal-title">Ajouter organisme publics français</h4>
                    <div class="modal-close-area modal-close-df">
                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                {{ include('cvPersonne/blocs/poste_fonction/_form_add_pub_fr.html.twig') }}
            </div>
        </div>
    </div>
</div>
