{% extends 'widgets/base_widget.html.twig' %}
{% block javascripts %}
{% endblock %}
{% block name_profil %}DOSEM{% endblock %}
{% block container_profil %}
        {% for appel in appels %}
            <div class="widget income-rate-total">
                    <p>{{ appel }}</p>

                <span class="price-graph">
                    {% if render(controller('App\\Controller\\AccueilController:statutAppel', {'appel' : appel.idAppel})) == 1 %} <!-- return true / false -->
                        {% set statut = 'En cours ' %}
                        {% set btn = 'primary' %}
                    {% else %}
                        {% set statut = 'Fermé ' %}
                        {% set btn = 'danger' %}
                    {% endif %}
                    <a class="btn btn-{{ btn }} btn-sm"
                       href="{{ path('profil_user',
                           {'idAppel': appel.idAppel, 'idNiveauphase' : appel.niveauEnCours.idNiveauPhase, 'idProfil' : 10}
                       ) }}"> {{ statut }}
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>
            </span>
            </div>
        {% endfor %}
{% endblock %}
