{% extends 'base.html.twig' %}

{% block title %}New TgMessage{% endblock %}

{% block body %}
    <h1>Create new TgMessage</h1>

    {{ include('tg_message/_form.html.twig') }}

    <a href="{{ path('tg_message_index') }}">back to list</a>
{% endblock %}
