{% trans_default_domain 'Personne' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="footer-text-right">
    <button class="btn btn-primary">{{ button_label|default('personne.from.cree'|trans) }}</button>
</div>
{{ form_end(form) }}
