{% extends 'cvPersonne/menubloc.html.twig' %}
 {% block style_menu_cv %}
<style>
    /*p.msgCount {*/
    /*    visibility: hidden;*/
    /*}*/
</style>
{% endblock %}
   {% block titre_cv %}valorisation {% endblock %}
{% block cv %}

    <div class="col-lg-12">
        <div class="text-center">
            <small> Brevets, Licences, Création entreprise, Développement outils (dont logiciel), base de données, prototype, etc.</small>
        </div>
    </div>
    <div class="row">
            {{ form_start(form) }}
            {{ form_widget(form) }}
        <div class="col-lg-3 col-lg-offset-3">
        <small class="msgCount"><span id="wordCount">0</span> mot(s)   <span id="charCount">0</span>   Caractère(s) restant.</small>
        </div>
        <div class="col-lg-2 col-lg-offset-8">
            <button type="submit" id="submit_McErc" class="btn btn-primary ">Enregistrer</button>
        </div><br>
            {{ form_end(form) }}

    </div>
{% endblock %}
{% block javascripts1 %}
    <script>
        $(document).ready(function(){
            //nbr de caractères

            var txtarea = $('#cv_formations_lbValorisation');
            var regex = /\s+/gi;

            $('#wordCount').html(txtarea.val().trim().replace(regex, ' ').split(' ').length);
            $('#charCount').html(1000 - txtarea.val().trim().length);


            $('#count').click(counter);
            txtarea.change(counter);
            txtarea.keydown(counter);
            txtarea.keypress(counter);
            txtarea.keyup(counter);
            txtarea.blur(counter);
            txtarea.focus(counter);


        })
        counter = function() {
            var value = $('#cv_formations_lbValorisation').val();
            if (value.length == 0) {
                $('#wordCount').html(0);
                $('#charCount').html(1000);
                return;
            }

            var regex = /\s+/gi;
            var wordCount = value.trim().replace(regex, ' ').split(' ').length;
            var charCount = value.trim().length;

            $('#wordCount').html(wordCount);
            $('#charCount').html(1000 - charCount);

        };
    </script>
{% endblock %}
