<span class="fa-stack">
  <span class="fa fa-circle fa-stack-2x" style="color: {{ criticite[0].couleurCriticite }}"></span>
  <strong class="fa-stack-1x">{{ criticite[0].codeCriticite }}</strong>
</span>