{#{% form_theme form _self %}#}
{% trans_default_domain 'Constitutuionces' %}
<div class="modal modal-adminpro-general default-popup-PrimaryModal fade"  id="ajoummbreModal"  role="dialog" aria-labelledby="ajoummbrModalTitle" aria-hidden="true" >
    <div class="modal-dialog modal-xl-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header header-color-modal bg-color-1">
                    <h4 class="modal-title"> {{ 'consti.form.enrgEvalua'|trans }} </h4>
                    <div class="modal-close-area modal-close-df">
                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Loader -->
                <div class="preloader-single shadow-reset mg-t-30">
                    <div class="ts_preloading_box">
                        <div id="ts-preloader-absolute52">
                            <div class="tscssload-triangles">
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal modal-adminpro-general default-popup-PrimaryModal fade"  id="modifmmbreModal"  role="dialog" aria-labelledby="modifmmbrModalTitle" aria-hidden="true" >
    <div class="modal-dialog modal-xl-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header header-color-modal bg-color-1">
                    <h4 class="modal-title"> {{ 'consti.form.modifEvalua'|trans }} </h4>
                    <div class="modal-close-area modal-close-df">
                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Loader -->
                <div class="preloader-single shadow-reset mg-t-30">
                    <div class="ts_preloading_box">
                        <div id="ts-preloader-absolute52">
                            <div class="tscssload-triangles">
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal modal-adminpro-general default-popup-PrimaryModal fade"  id="ordGrpModal"  role="dialog" aria-labelledby="ordGrpModalTitle" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header header-color-modal bg-color-1">
                    <h4 class="modal-title"> Ordonner les personnes</h4>
                    <div class="modal-close-area modal-close-df">
                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Loader -->
                <div class="preloader-single shadow-reset mg-t-30">
                    <div class="ts_preloading_box">
                        <div id="ts-preloader-absolute52">
                            <div class="tscssload-triangles">
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal modal-adminpro-general default-popup-PrimaryModal fade"  id="sollicitModal"  role="dialog" aria-labelledby="sollicitModalModalTitle" aria-hidden="true" >
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header header-color-modal bg-color-1">
                    <h4 class="modal-title"> {{ 'consti.form.modifSollicit'|trans }} </h4>
                    <div class="modal-close-area modal-close-df">
                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Loader -->
            </div>
        </div>
    </div>
</div>