<div class="modal modal-adminpro-general default-popup-WarningModal fade"  tabindex="-1" id="reunionPeriodeModal"  role="dialog" aria-labelledby="reunionPeriodeModalTitle" aria-hidden="true" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-header header-color-modal bg-color-1">
                    <h4 class="modal-title">Réunion:  Définir ou modifier une réunion et sa période</h4>
                    <div class="modal-close-area modal-close-df">
{#                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>#}
                    </div>
                </div>
            </div>
            <div class="js-success"></div>
            <div class="js-error"></div>
            <div class="js-success-a"></div>
            <div class="js-error-a"></div>
            <div class="modal-body" style="background:#ebebeb">

                <!-- Loader -->
                <div class="preloader-single shadow-reset mg-t-30">
                    <div class="ts_preloading_box">
                        <div id="ts-preloader-absolute52">
                            <div class="tscssload-triangles">
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                                <div class="tscssload-tri"></div>
                                <div class="tscssload-tri tscssload-invert"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- fin -->

            </div>
        </div>
    </div>
</div>

<!-- Modal modification reunion-->
<div class="modal fade" id="ajoute_reunion" tabindex="-1" role="dialog" aria-labelledby="modifierModalTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog" role="document" style="width:800px">
        <div class="modal-content">
            <div class="modal-header" style="background:#aee2eb">
                <h5 class="modal-title" id="exampleModalLongTitle">Définir une réunion et sa période</h5>
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
            </div>
            <br>
            <div class="js-error-ajout"></div>
            <div class="js-success-ajout"></div>
            <div class="modal-body">
                Loading ....
            </div>

        </div>
    </div>
</div>

<!-- Modal modification reunion-->
<div class="modal fade" id="modifperiodeModal" tabindex="-1" role="dialog" aria-labelledby="modifperiodeModalTitle" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modifier réunion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Loading ....
            </div>

        </div>
    </div>
</div>


