<img src="{{ absolute_url(asset('img/logo/logo_iris_150.png')) }}">
<h3>[ANR] : Changement d'identifiant IRIS!</h3>

Bonjour,<br>
Vous venez de changer votre identifiant sur IRIS.<br>
Afin d'activer votre nouvel identifiant,<br>
veuillez copier-coller le code d'activation ci-dessous dans la zone prévue à cet effet.<br>
<br>

Code d'activation : <p style="color: blue"><b>{{ activation_code }}</b></p><br><br>
<i style="color: red">
    Attention : Vous serez déconnecté après activation du nouvel identifiant. <br>
    Le mot de passe ne sera pas changé.</i>

<br>
Merci<br>