{% trans_default_domain 'FOSUserBundle' %}

<img src="{{ absolute_url(asset('img/logo/logo_iris_150.png')) }}">
<h3>[ANR] : Nouveau Participant</h3>

Bonjour,<br>
Vous venez d'être ajouter autant que participant sur IRIS.<br>
<i>You have just been added as much as Scientific Manager on IRIS.</i>
<br><br>

Afin d'accéder a IRIS,<br>
<i>In order to access IRIS,</i><br><br>

Veuillez créer votre compte en suivant le lien ci-dessous.<br>
<i>Please create your account by following the link below.</i><br><br>

{{ url }}

<br><br>
Merci<br>
<i>Thanks!</i>


