{% trans_default_domain 'FOSUserBundle' %}

<img src="{{ absolute_url(asset('img/logo/logo_iris_150.png')) }}">
<h3>[ANR] : Nouvelle publication {{ comite }}- </h3>

Bonjour,<br>
Une affectation vient d'être publiée.<br>

<i>Please use your email and password.</i><br><br>



<br><br>
Merci<br>
<i>Thanks!</i>
