{% trans_default_domain 'FOSUserBundle' %}

<img src="{{ absolute_url(asset('img/logo/logo_iris_150.png')) }}">
<h3>[ANR] : Soumission projet</h3>

<p style="text-align: center; color: green">Votre projet a été soumis,<br>
</p>
<p style="text-align: center; color: green">L'éligibilité de votre pré-proposition sera vérifiée par l'ANR après
    la date de clôture de l'appel à projets.<br>
</p>

<br><br>
Merci<br>
<i>Thanks!</i>


