
<body>
    <br>
    <div class="container">
        <div class="col-lg-8">
            <div class="alert alert-info" role="alert">
                <h1 class="alert-heading">Votre session a expiré</h1>
                <div>
                <p>Désolé, votre session a expiré. <a href="{{ path('fos_user_security_logout') }}">Veuillez vous reconnecter</a></p>,
                </div>
            </div>
        </div>
    </div>
</body>




