<div class="modal modal-adminpro-general default-popup-PrimaryModal fade"  id="imageModal"  role="dialog" aria-labelledby="imageModalTitle" aria-hidden="true" style="overflow:hidden;">
    <div class="modal-dialog modal-lg" role="document" >

        <div class="modal-content">
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close">Fermer</i></a>
                </div>
                <h3 id="visuImage"></h3>
        </div>
    </div>
</div>