<!--pre>
  {# dump(personne.idAdresse) }}
  {{ dump(personne.idAdrMail) }}
  {{ dump(personne.noTelephone) #}
</pre-->
  <div class="col-md-6">
    <p>{{ personne.lbNomUsage ~ " " ~ personne.lbPrenom }}</p>
    <p>75018 Paris 25 rue des oliviers</p>
    <p>test@test.fr</p>
    <p>0605040302</p>
  </div>
  <div class="col-md-6">
    <p>Expert: test</p>
    <p>Société: test</p>
  </div>
  <!--div class="col-md-6">
    <p>
      <pre>
        {# dump(personne.tlPersOrg[0]) #}
      </pre>
    </p>
  </div-->
  
{% block javascripts %}
    <script>
      $('#mySidenav .sidenav-head .sidenav-head-title').html("<p class='mgt-5'><b>Contact</b></p>");
    </script>
{% endblock %}