{% trans_default_domain 'Evaluations' %}
  <div class="col-md-6">
    <p>{{ personne.lbNomUsage ~ " " ~ personne.lbPrenom }}</p>
    <p>75018 Paris 25 rue des oliviers</p>
    <p>test@test.fr</p>
    <p>0605040302</p>
  </div>
  <div class="col-md-6">
    <p>Expert: test</p>
    <p>Société: test</p>
  </div>
  
{% block javascripts %}
    <script>
      $('#mySidenav .sidenav-head .sidenav-head-title').html("<p class='mgt-5'><b>Contact</b></p>");
    </script>
{% endblock %}