<div class="row">
  {{ include('evaluation/evaluation/modal/contact_personne.html.twig', {personne: tgPersonne}) }}
</div></br></br>
<div class="row">
  <h4 class="modal-title">Curriculum Vitae</h4>
</div></br></br>
<div class="row">
  <p>{{ cvPersonne.lbAutresActivites }}</p>
</div>

