<div class="row">
  {{ include('evaluation/evaluation/modal/contact_personne.html.twig', {personne: tgPersonne}) }}
</div></br></br>
<div class="row">
  <div class="col-md-6">
    <h4 class="modal-title">{{ 'evaluation.cv'|trans }}</h4>
  </div>
</div></br></br>
<div class="row">
  <div class="col-md-6">
    <p>{{ cvPersonne.lbAutresActivites }}</p>
  </div>
</div>

