
<!-- Breadcome start-->
<div class="breadcome-area mg-b-30 small-dn">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcome-list shadow-reset">
                    <div class="row">
                        <div class="col-lg-6">
                            {% if (is_granted('ROLE_ANR') == true) and  (app.session.get('appel') != null ) %}
                            <i class="text-justify"> Vous êtes sur :  {{ app.session.get('appel') }}

                                {% if render(controller('App\\Controller\\AccueilController:statutAppel', {'appel' : app.session.get('appel')})) == 1 %} <!-- return true / false -->
                                     Statut actuel :   <i class="text-primary">En cours</i>
                                {% else %}
                                   Statut actuel : <i class="text-danger"> Clos </i>
                                {% endif %}
                            </i>
                            {% endif %}
                        </div>
                        <div class="col-lg-6">
                            <ul class="breadcome-menu">
                                <li>
                                    <a href="{{ path('accueil') }}">Accueil</a>
                                    <span class="bread-slash">/</span>
                                </li>
                                <li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>