
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <h2>L'Appel à projet est fermé </h2>
        </div>
        <div class="col-md-4"></div>
        {#        <div class="col-md-4"></div>#}
        <div class="col-md-8">
            <img src="{{ asset('img/ferme.gif') }}">
        </div>
        <div class="col-md-8"></div><a href="{{ path('accueil') }}"> Retour </a>

    </div>
{% endblock %}
