<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{% block body %}
    <div class="row">

        <div class="col-md-3"></div>
        {#        <div class="col-md-4"></div>#}
        <div class="col-md-8">
            <div class="detail-shot loaded" data-screenshot_id="3272116" data-img-src="https://cdn.dribbble.com/users/718859/screenshots/3272116/jisunpark-500-error.gif">
                <img class="med-8x6" alt="500 Error page 500 error gif html css server bolt thunder wrench illustration" src="https://cdn.dribbble.com/users/718859/screenshots/3272116/jisunpark-500-error.gif">
                <div class="footer-text-center">
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"> </div>
       <a href="{{ path('accueil') }}"> Retour </a>
    </div>

{% endblock %}


