{{ form_start(form_mail,{action :  path('add_mail')}) }}
<div class="form-group row">
    <label class="col-form-label col-sm-3 required" for="seance_idReunion">Adresse mail</label>
    <div class="col-lg-6">
        {{ form_widget(form_mail.adrMail) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-3"></div>
    {#                    <div class="col-sm-3">#}
    {#                        <div class="i-checks pull-left">#}
    {#                            <label> <input type="checkbox" name="notif"> Notification  </label>#}
    {#                        </div>#}
    {#                    </div>#}
    <div class="col-sm-4">
        <div class="i-checks pull-left">
            <label>{{ form_widget(form_mail.blNotification) }}  </label>
        </div>
    </div>
</div>
<div class="footer-text-right">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn btn-primary" >Enregistrer</button>
{{ form_end(form_mail) }}