<form action="{{ path('change_mail') }}" method="post">
        <div class="form-group row">
            <div class="col-lg-8 col-lg-offset-2">
                    <label class="required">Veuillez saisir votre nouvel identifiant :</label>
                    <input type="email" name="emailChange" placeholder="xxxx@xxxx.xx" class="form-control" required>
                    <input type="hidden" name="_token" value="{{ csrf_token('change' ~  user.idPersonne ) }}">
            </div>
        </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" href="#">Annuler</button>
        <button class="btn btn-warning" type="submit" id="identifSubmit">Modifier</button>
    </div>
</form>