{{ form_start(form, {action :  path('update_name')}) }}
  {{ form_widget(form) }}
<div class="footer-text-right">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn btn-warning" >Modifier</button>
</div>
{{ form_end(form) }}